.profile {
    display: flex;
    width: 100%;
}

.profile__cover {
    height: 320px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: text;
}

.profile__coverImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile__photoImage {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    top: 150px;
    border: 3px solid #fff;
}

.profile__photoImage::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__info-userName {
    font-size: 24px;
    margin: 0;
}

.profile__info-description {
    font-style: 10px;
    font-weight: 300;
}

.profile__right {
    flex: 9;
}

.profile__right-bottom {
    display: flex;
}

.choosepicbtn {
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}


.btn-group {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}